<section id="showcase" class="">
  <div class="container-fluid">
    <div class="row" ng-controller="HomeController">
      <div class="col-sm-6 custom-slider" style="padding: 0px">
        <slider images="images"/>
        <div class="slider">
        	<div class="slide" ng-repeat="image in images" ng-show="image.visible">
        		<img class="img-responsive" ng-src="static/app/img/{{image.src}}"/>
        	</div>
        	<div class="arrows">
        		<a href="" ng-click="prev()">
              <img src="static/img/left-arrow.png"/></a> <a href="" ng-click="next()">
              <img src="static/img/right-arrow.png"/></a>
        	</div>
        </div>
      </div>
      <div class="col-sm-6 bg-shop" style="height:500px;">
        <productslider products="products"/>
        <div class="slider" style="background:none;">
          <div class="half-box-right slide" ng-repeat="product in products" ng-show="product.visible" >
              <div class="center-vertical">
                  <div class="center-vertical-box">
                      <h1><b>{{product.title}}</b></h1>
                      <p>{{product.content}}
                        <div>
                      <a href="#" data-toggle="modal" data-target="#product-modal" class="btn dark"><b>{{product.price}}</b> BUY NOW</a>
                    </div>
                    </div>
              </div>
            </div>
          </div>
    </div>
  </div>
</section>
